@charset "UTF-8";
@import '../assets/fonts/galano/stylesheet.css';
.header {
  position: absolute;
  width: 100%;
  z-index: 9999;
}
.header .navbar {
  background-color: transparent;
  padding: 32px 64px;
}
@media screen and (max-width: 767px) {
  .header .navbar {
    padding: 16px;
  }
}
.header .navbar-brand-img {
  height: 64px;
}
@media screen and (max-width: 767px) {
  .header .navbar-brand-img {
    height: 56px;
  }
}
.header .navbar-nav {
  width: 100%;
  justify-content: flex-end;
}
.header .navbar-nav .nav-link {
  color: #fff;
  font-family: "GalanoGrotesque";
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
}
.header .navbar-nav .nav-link:hover {
  color: #F49B23;
}

.home {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home .container-ps {
  max-width: 80%;
}
.home .areas {
  width: 90%;
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}
.home .areas-item {
  position: relative;
}
.home .areas-item:not(:last-child) {
  margin-right: 128px;
}
@media screen and (max-width: 767px) {
  .home .areas-item:not(:last-child) {
    margin-right: 0;
  }
}
.home .areas-item-content {
  width: 250px;
  height: auto;
  word-wrap: break-word;
  font-family: "GalanoGrotesque";
  position: absolute;
  bottom: 0;
  right: -32px;
}
.home .areas-item-content-title {
  font-size: 98px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
  margin-bottom: 0;
}
.home .areas-item-content-1 {
  width: 364px;
  right: -140px;
}
.home .areas-item-content-2 {
  width: 270px;
  right: -64px;
}
.home-info {
  width: 100%;
  height: auto;
  margin-top: 32px;
}
.home-info-list {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}
.home-info-list-item {
  width: 150px;
}
.home-info-list-item:not(:last-child) {
  margin-right: 16px;
  border-right: 2px solid #fff;
  padding-right: 16px;
}
.home-info-list-item-text {
  font-family: "GalanoGrotesque";
  font-weight: 600;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .home-info-list-item-text {
    font-size: 24px;
  }
}
.home-info-list .left {
  text-align: right;
}
.home-icon {
  position: absolute;
  width: 100%;
  bottom: 32px;
  left: 0;
}
.home-icon-img {
  display: block;
  margin: 0 auto;
  width: 32px;
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.home .show-mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .home .show-mobile {
    display: flex;
  }
}
.home .show-desktop {
  display: flex;
}
@media screen and (max-width: 767px) {
  .home .show-desktop {
    display: none;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
.numbers {
  padding: 64px 0;
}
.numbers-box {
  text-align: center;
  font-family: "GalanoGrotesque";
  color: #3b3b3b;
}
@media screen and (max-width: 767px) {
  .numbers-box:not(:last-child) {
    margin-bottom: 32px;
  }
}
.numbers-box-number {
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.numbers-box-detail {
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 0;
  display: block;
}

.about .box {
  width: 512px;
  height: 512px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .about .box {
    width: 100%;
  }
}
.about .box .logo-part {
  width: 300px;
  position: absolute;
}
.about .box .blue {
  bottom: 0;
  left: 96px;
  z-index: 2;
  animation-name: blue;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
}
@media screen and (max-width: 767px) {
  .about .box .blue {
    left: 24px;
  }
}
.about .box .green {
  top: 50px;
  left: 64px;
  z-index: 3;
  animation-name: green;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
}
@media screen and (max-width: 767px) {
  .about .box .green {
    left: 15px;
  }
}
.about .box .yellow {
  top: 8px;
  left: 112px;
  z-index: 1;
  animation-name: yellow;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
}
@media screen and (max-width: 767px) {
  .about .box .yellow {
    left: 32px;
  }
}
.about-text {
  font-family: "GalanoGrotesque";
}

@keyframes blue {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(-2%, -2%);
  }
  50% {
    transform: translate(2%, -4%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes green {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(2%, -2%);
  }
  50% {
    transform: translate(4%, 2%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes yellow {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(4%, 2%);
  }
  50% {
    transform: translate(-2%, 4%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.slider {
  padding: 64px 0;
}
.slider-programacao-slide {
  width: 100%;
  height: 256px;
  border-radius: 8px;
  position: relative;
  background-image: url("../assets/img/gestão-bg.jpg");
  background-size: cover;
  background-position: center;
  background-color: #095185;
  background-blend-mode: multiply;
}
.slider-programacao-slide-content {
  position: absolute;
  bottom: 16px;
  left: 20px;
}
.slider-programacao-slide-content-name {
  text-transform: uppercase;
  font-family: "GalanoGrotesque";
  color: #fff;
  margin-bottom: 0;
  display: block;
}
.slider-programacao .bg2 {
  background-image: url("../assets/img/conhecimento-bg.jpg");
  background-color: #0A9353;
}
.slider-programacao .bg3 {
  background-image: url("../assets/img/solução-bg.jpg");
  background-color: #F49B23;
}
.slider-programacao .slick-slide:not(:last-child) {
  margin-right: 8px;
}

b {
  font-weight: 600;
}

.btn-comce {
  display: inline-block;
  width: auto;
  padding: 8px 16px;
  background-color: #701FA9;
  color: #fff;
  font-family: "GalanoGrotesque";
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 8px;
  position: relative;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn-comce-label {
  position: relative;
  z-index: 10;
}
.btn-comce::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #F49B23;
  position: absolute;
  bottom: 0;
  left: 100%;
  z-index: 1;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn-comce:hover {
  text-decoration: none;
  color: #fff;
}
.btn-comce:hover::after {
  left: 0;
}

.btn-comce-rounded {
  display: inline-block;
  width: auto;
  padding: 4px 8px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 24px;
  font-size: 12px;
  font-family: "GalanoGrotesque";
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn-comce-rounded-label {
  position: relative;
  z-index: 10;
}
.btn-comce-rounded::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn-comce-rounded:hover {
  text-decoration: none;
  color: #3b3b3b;
}
.btn-comce-rounded:hover::after {
  top: 0;
}

/*# sourceMappingURL=main.css.map */
