.footer {
    padding: 64px 0;
    background-color: $dark-grey;
    @include mobile {
        padding: 32px 0;
    }
    &-nav {
        display: flex;
        list-style: none;
        margin: 0;
        padding-left: 0;
        padding-bottom: 16px;
        border-bottom: 1px solid #fff;
        @include mobile {
            flex-direction: column;
            align-items: center;
        }

        &-item {
            &:not(:last-child) {
                margin-right: 16px;
                @include mobile {
                    margin-right: 0;
                }
            }

            &-link {
                color: #fff;
                text-transform: uppercase;
                transition: all .2s ease;
                &:hover {
                    color: $pink;
                    text-decoration: none;
                }
            }
        }
    }

    &-contact {
        display: flex;
        list-style: none;
        padding: 16px 0;
        border-bottom: 1px solid #fff;
        @include mobile {
            flex-direction: column;
            align-items: center;
        }

        &-item {
            &:not(:last-child) {
                margin-right: 16px;
                @include mobile {
                    margin-right: 0;
                }
            }

            &-link  {
                color: #fff;
                transition: all .2s ease;
                &:hover {
                    color: $pink;
                    text-decoration: none;
                }
            }
        }
    }

    &-copy {
        color: #555;
        font-weight: 300;
        font-size: 14px;
        @include mobile {
            text-align: center;
        }
    }
}
