@import '../assets/fonts/galano/stylesheet.css';

//Fonts
$galano: 'GalanoGrotesque';

//Colors
$yellow: #F49B23;
$grey: #3b3b3b;
$dark-grey: #1e1e1e;
$purple: #701FA9;
$blue: #095185;
$green: #0A9353;
$pink: #DC2581;